body {
    background-color: rgb(104, 92, 90);
    color: rgb(0, 0, 0);
    background: rgb(104, 92, 90);
}

/* Estilo para o tema escuro */
body.dark-theme {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 253, 253);
}